# Python cache and tooling
__pycache__/
*.py[cod]
.venv/
.ruff_cache/
.pytest_cache/
.nox/
.mypy_cache/
.ipynb_checkpoints/

# Packaging and build artifacts
dist/
build/
*.egg-info/
coverage.xml
.coverage
htmlcov/

# Local machine files
.DS_Store

# Project-specific generated data
data/
output.txt
poetry.lock
*.gz
*.cif
*_ignore_*
*.tif
*.gif
*.avi
t.py
